* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

.aspect-ratio-box {
  position: relative;
  width: 100%;
  padding-top: 100%;
  overflow: hidden;
}

.aspect-ratio-box img {
  position: absolute;
  top: 5%;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 90%;
  object-fit: contain;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #bbb;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
