* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100vw;
}

.aspect-ratio-box {
  position: relative;
  width: 100%;
  padding-top: 100%;
  overflow: hidden;
}

.aspect-ratio-box img {
  position: absolute;
  top: 5%;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 90%;
  object-fit: contain;
}